.contenidoMain
    display: inline-grid
    display: grid
    grid-template: repeat(2, 8% 92%) / repeat(1, 100%)
    margin-left: 30px
    margin-right: 15px

    
    
    .categoriasContenidoMain
        border: 1px solid #F2F2F2
        border-radius: 10px
        background-color: white
        box-shadow: 0px 4px 4px #828282
        display: inline-grid
        display: grid
        grid-template: repeat(2, 5% 95%) / repeat(1, 100%)

        .nombreCategoriasContenidoMain
            text-align: center
            padding: 20px
           

    
    .tituloContenidoMain
        padding-left: 15px
        
        .MainTituloContenidoMain
            display: flex
            align-items: center
            font-size: 180%
            margin-bottom: 2%
            img
                margin-right: 3.5%
                width: 15%
                border-radius: 10px
                box-shadow: 0px 2px 2px #828282
                

                

    .boxsContenidoMain
        display: inline-grid
        display: grid
        grid-template: repeat(5, 18.4%) / repeat(1, 100%)
        grid-gap: 2%

        .eventoBoxsContenidoMain
            border: 1px solid #F2F2F2
            border-radius: 10px
            background-color: white
            box-shadow: 0px 4px 4px #828282
            display: grid
            grid-template: repeat(1, 100%) / repeat(2, 25% 70%)
            padding-left: 25px
            align-items: center
            margin-top: 10px
            img
                width: 85%
                
                
            a  
                text-decoration: none

            a:hover 
                color: black                                                                                                                                          